<div class="footer">
    <div class="copyright">
        <p>
            Copyright &copy; Designed & Developed by
            <a href="https://themeforest.net/user/quixlab">Dapper Admin</a>
            <span id="currentYear"></span>
        </p>
    </div>
</div>

<script>
    document.getElementById("currentYear").textContent = new Date().getFullYear();
</script>
