<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">

            <li>
                <a href="/Dashboard/Index/" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i> 
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>

            <li>
                <a href="/Sales/Index/" aria-expanded="false">
                    <i class="icon-basket-loaded menu-icon"></i> 
                    <span class="nav-text">Satışlar</span>
                </a>
            </li>
            
        </ul>
    </div>
</div>